  <div class="content">
            <img class="memePoster" src="../.{{memeSrc}}"/> 
            <h3>Title  {{title}}</h3>
            <p> {{description}}</p>
            <button>
                <a href="../.{{memeSrc}}" download="{{name}}" >Download Meme</a>
            </button>
            <button>
                 <a href="/memes/delete/{{_id}}"  >Delete</a>
            </button>
        </div>